<h2>Detail zaměstnance</h2>

<div *ngIf="employee">

    <table class="table">
        <tr>
            <th>ID:</th>
            <td>{{ employee.id }}</td>
        </tr>
        <tr>
            <th>Jméno:</th>
            <td>{{ employee.firstName }} {{ employee.lastName }}</td>
        </tr>
        <tr>
            <th>Datum narození:</th>
            <td>{{ employee.birthDate | date: 'd. M. yyyy' }}</td>
        </tr>
        <tr>
            <th>Pohlaví:</th>
            <td>{{ Gender[this.employee.gender] }}</td>
        </tr>
        <tr>
            <th>Kategorie práce:</th>
            <td>{{ jobCategory.title }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ employee.email }}</td>
        </tr>
        <tr>
            <th>Telefonní číslo:</th>
            <td>{{ employee.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Země:</th>
            <td>{{ country.name }}</td>
        </tr>
        <tr>
            <th>Datum vstupu:</th>
            <td>{{ employee.joinedDate | date: 'd. M. yyyy' }}</td>
        </tr>
        <tr>
            <th>Datum opuštění:</th>
            <td>{{ employee.exitedDate | date: 'd. M. yyyy' }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col">
            <a [routerLink]="['/']"><button type="button" class="btn btn-outline-secondary">Zpět</button></a>
        </div>
        <div class="col text-right">
            <a [routerLink]="['/edit', employee.id]"><button type="button"
                    class="btn btn-outline-success mr-1">Editovat</button></a>
        </div>
    </div>

</div>