<h2>Editace zaměstnance</h2>

<form #employeeForm="ngForm" (ngSubmit)="onSubmit()">
    <div *ngIf="employee">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Jméno</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="employee.firstName">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Příjmení</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="employee.lastName">
            </div>
        </div>
        <div class="form-group row">
            <label for="birthDate" class="col-sm-2 col-form-label">Datum narození</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-2 col-form-label">Pohlaví</label>
            <div class="col-sm-10 align-middle">
                <div class="form-check form-check-inline" *ngFor="let g of Gender | keyvalue; let i = index">
                    <input class="form-check-input" type="radio" name="gender" name="gender" [(ngModel)]="employee.gender" [id]="'gender' + i" [value]="g.key" [checked]="g.key === employee.gender">
                    <label class="form-check-label col-form-label" [for]="'gender' + i">{{ g.value }}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="jobCategoryId" class="col-sm-2 col-form-label">Kategorie práce</label>
            <div class="col-sm-10">
                <select class="form-control" id="jobCategoryId" name="jobCategoryId" [(ngModel)]="employee.jobCategoryId">
                    <option *ngFor="let j of jobCategories" [value]="j.id" [selected]="j.id === employee.jobCategoryId">{{ j.title }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employee.email">
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Telefonní číslo</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastphoneNumberName" name="phoneNumber" [(ngModel)]="employee.phoneNumber">
            </div>
        </div>
        <div class="form-group row">
            <label for="countryId" class="col-sm-2 col-form-label">Země</label>
            <div class="col-sm-10">
                <select class="form-control" id="countryId" name="countryId" [(ngModel)]="employee.countryId">
                    <option *ngFor="let c of countries" [value]="c.id" [selected]="c.id === employee.countryId">{{ c.name }}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="joinedDate" class="col-sm-2 col-form-label">Datum vstupu</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="lajoinedDatestName" name="joinedDate" [(ngModel)]="employee.joinedDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="exitedDate" class="col-sm-2 col-form-label">Datum opuštění</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="exitedDate" name="exitedDate" [(ngModel)]="employee.exitedDate">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a [routerLink]="['/']"><button type="button" class="btn btn-outline-secondary">Zpět</button></a>
        </div>
        <div class="col text-right">
            <button class="btn btn-success" type="submit">Uložit</button>
        </div>
    </div>
</form>