<h2>Seznam zaměstnanců</h2>

<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Jméno</th>
        <th scope="col">Datum narození</th>
        <th scope="col">Pohlaví</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees">
        <td>{{ e.id }}</td>
        <td>{{ e.firstName }} {{ e.lastName }}</td>
        <td>{{ e.birthDate | date: 'd. M. yyyy' }}</td>
        <td>{{ Gender[e.gender] }}</td>
        <td class="td-actions text-right">
            <a [routerLink]="['/detail', e.id]"><button type="button" class="btn btn-sm btn-outline-primary mr-1">Detail</button></a>
            <a [routerLink]="['/edit', e.id]"><button type="button" class="btn btn-sm btn-outline-success mr-1">Editovat</button></a>
            <button type="button" (click)="deleteEmployee(e.id)" class="btn btn-sm btn-outline-danger">Smazat</button>
        </td>
      </tr>
    </tbody>
  </table>